.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    p{
        padding: 10px 50px;
    }
    span{
        color: var(--btn-color);
    }
}
@media (min-width: 800px){
    .container{
        margin: 15px 15%;
        
        p{
            line-height: 1.7;
        }
    }
}